body {
    margin: 0;
    background: linear-gradient(140deg, rgb(150, 254, 225) 5%, rgb(33, 160, 218) 98%);
}

.container {
    display: flex;
}

.left {
    flex: 1 2 auto;
    min-width: 5px;
}

.right {
    flex: 1 2 auto;
    min-width: 5px;
}

.wrapper {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.calculator {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px white;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 11px;
    padding-left: 8px;
}

.red {
    background: rgb(252, 118, 118);
    border-radius: 50%;
    height: 13px;
    width: 13px;
}

.yellow {
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    height: 13px;
    width: 13px;
}

.green {
    background-color: rgb(70, 227, 70);
    border-radius: 50%;
    height: 13px;
    width: 13px;
}

.screen {
    display: block;
    flex-direction: column;
    flex: 1 0;
    height: 100px;
    text-align: end;
    font-size: 42px;
    border-bottom: 1px solid #D6D6E7;
    color: #36395A;
    overflow-wrap: break-word;
}

.screen-top {
    min-height: 42.5px;
    font-size: 24px;
    padding-right: 20px;
    padding-top: 20px;
}

.screen-bottom {
    min-height: 62.5px;
    padding-right: 10px;
}

.button-grid { 
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 1px;
}

.flex-row {
    flex: 1 1 auto;
    display: flex;
    gap: 1px;
}

.button {
    flex: 1 1 84px;
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    height: 84px;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    font-size: min(8vw, max(26px));
    
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.animate {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.bottom-bar {
    height: 4px;
}

.footer {
    text-align: center;
    flex: 0 1;
    color: rgba(150, 254, 225, 0.422);
}